<a href="https://colab.research.google.com/github/OlajideFemi/Carbon-Footprint/blob/main/Another_copy_of_Energy_Consumption_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Energy Consumption Forecasting

<p><b>Problem Statement</b></p>

The objective is to forecast electricity demand over future time periods in order to support operational planning, cost control, and infrastructure resilience.
Accurate demand forecasting is critical because electricity systems must balance supply and demand in real time. Over- or under-estimation can result in service disruption, increased costs, or system instability.

In [ ]:
import pandas as pd

# Load demand
#demand = pd.read_csv("historic_demand_2009_2024.csv", parse_dates=["timestamp"])
# Load demand
demand = pd.read_csv("historic_demand_2009_2024.csv")

# Load weather
#weather = pd.read_csv("uk_weather.csv", parse_dates=["date"])

# Load weather
#weather = pd.read_csv("uk_weather.csv", parse_dates=["date"])

In [ ]:
demand.head()

,Unnamed: 0,settlement_date,settlement_period,nd,tsd,england_wales_demand,embedded_wind_generation,embedded_wind_capacity,embedded_solar_generation,embedded_solar_capacity,...,britned_flow,moyle_flow,east_west_flow,nemo_flow,nsl_flow,eleclink_flow,scottish_transfer,viking_flow,greenlink_flow,is_holiday
0,0,2009-01-01,1,37910,38704,33939,54,1403,0,0,...,0,-161,0,0,NaN,NaN,NaN,NaN,NaN,1
1,1,2009-01-01,2,38047,38964,34072,53,1403,0,0,...,0,-160,0,0,NaN,NaN,NaN,NaN,NaN,1
2,2,2009-01-01,3,37380,38651,33615,53,1403,0,0,...,0,-160,0,0,NaN,NaN,NaN,NaN,NaN,1
3,3,2009-01-01,4,36426,37775,32526,50,1403,0,0,...,0,-160,0,0,NaN,NaN,NaN,NaN,NaN,1
4,4,2009-01-01,5,35687,37298,31877,50,1403,0,0,...,0,-160,0,0,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
demand.dtypes

Unnamed: 0                     int64
settlement_date               object
settlement_period              int64
nd                             int64
tsd                            int64
england_wales_demand           int64
embedded_wind_generation       int64
embedded_wind_capacity         int64
embedded_solar_generation      int64
embedded_solar_capacity        int64
non_bm_stor                    int64
pump_storage_pumping           int64
ifa_flow                       int64
ifa2_flow                      int64
britned_flow                   int64
moyle_flow                     int64
east_west_flow                 int64
nemo_flow                      int64
nsl_flow                     float64
eleclink_flow                float64
scottish_transfer            float64
viking_flow                  float64
greenlink_flow               float64
is_holiday                     int64
dtype: object

In [ ]:
demand.shape

(279264, 24)